<!DOCTYPE html>

<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Front Left Project 2</title>
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            <script src="https://d3js.org/d3.v4.min.js"></script>
            <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" src="{{ url_for('static', filename='css/style.css') }}"> -->
  <!-- JM's code to add -->    
  <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/WellStyle.css') }}">
  
<!-- -->
  <style>
    html,
body,
#map {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;

  /* overflow-x:auto; */
  
}
#graphs
{
  height: 100%;
  padding: 0;
  margin: 0;
  width: 1170px;
  display: block;
  text-align: center;
  

}

/* div {
    border: solid black 1px;
  } */
  </style>
  
</head>

<body>
  <!-- Creates the Overall Grid -->
  <div class="container">

    <!-- Row 1 -->
    <div class="row">
      <div class="col-md-12">
        <h3>Socioeconomic Impact of Fracking</h3>
        <p>A comparative study of the social and economic impacts of the explosion in horizontal well drilling aka. Fracking.  Our studies goal is to understand both the positive and negative impacts of fracking on a state.</p>
        <p>Our study explores the explosion of fracking between the years of 2009 and 2016.  We compare median home price, median household income, and normalized violent crime.  Additionaly we look at the impact of Earthquakes beieved to be caused by fracking over the same period of time.</p>
        </div>
    </div>

    <!-- Row 2 -->
    <div class="row">
      <div class="col-md-12">
          <div id="john"></div>  
          <script src="{{ url_for('static', filename='js/frontleft3.js') }}"></script>
          <div class="slidecontainer col-md-8" onchange="getHWData(myRange.value)">
              <input type="range" min="2009" max="2016" value="2009" class="slider" id="myRange">
              <h3 id="demo"></h3>
          </div>
      </div>
    </div>

  <!-- row 3 -->
    <div class="row">
        <div class="col-md-12">
            <h3 align="center">Variables vs time/earthquakes</h3>
            <p align="center">
              <select id="selScatterDataset" onchange="getScatterData(this.value)">
                <option value="income">Median Income</option>
                <option value="housing">Median Housing</option>
                <option value="crime">Crime</option>
              </select>
            </p>
        </div>
    </div>
    
  

    <!-- row 4 -->
    <div class="row">
        <div class="col-md-6">
            <div id="scatter"></div>
        </div>
        <div class="col-md-6">
            <div id="line"></div>
        </div>
        </div>
        
        <!-- row 5 -->
      <div class="row">
        <h3 align="center">US earthquakes 2009 - 2016 (Mag >5.0)</h3>
      </div>
      <!-- row 6 -->
      <div class="row">
        <div class="col-md-12">
          <div align="center"><iframe height="900" width="900" src="/state"></iframe></div>
        </div> 
      </div>
      



        
<!-- 
  <div id="scatter"></div>
  <div id="line"></div>
  <div><iframe height="200" width="300" src="/state"></iframe></div> -->

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/plotspjr.js') }}"></script>
  <!-- <script src="plots.js"></script> -->
</body>
</html>
